

p { 
    border-radius: 20px;
    text-align: center;
    font-family: Tahoma;
  }
p.text{
    display:block;
    flex-direction: column;
   
}

.message-sent p { 
    /* /* display:flex; */
    flex-direction: row;
    color: black; 
    justify-content: flex-end;
    background: rgb(245, 208, 236);
    align-self: flex-end;
    justify-items: left;
    text-align: right;
  }
.message-received p {
    display: block;
    flex-direction: row;
    background: rgb(193, 244, 183);
    color: black;
    justify-items: left;
    text-align: left;
  }

  .sent-message{
      padding:20px;
      font-size: 15px;

      
     
  }
  .from-sender{
      padding: 20px;
        font-size: 12px;
       
  }