#community-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ff7aa2;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

#not-found-page {
    height: 750px;
}

#not-found-text {
    font-family: 'Press Start 2P', cursive;
    color: #ffee32;
    text-shadow: 5px 5px 2px black;
}

#go-back-btn {
    font-family: 'Press Start 2P', cursive;
    color: #c20114;
    text-shadow: 5px 5px 2px black;
    font-size: 50px;
}

#profile-wrap {
    margin-top: 100px;
    text-align: center;
}

#email-tag {
    color: #ff7aa2;
}

.profile-header {
    font-family: "Roboto", sans-serif;
    color: #ff7aa2;
    text-align: center;
}
div.YT-videos{
    display:flex;
    flex-direction: row;
    margin: 50px auto;
    justify-content: space-around;
    padding: 50px;
}
