#chat-flex-parent {
  display: flex;
  justify-content: center;
}

#chat-input {
  margin-bottom: 50px;
}

#chat-input-field {
  border-radius: 10px;
  margin:3px;
  padding:10px;
  width: 400px;
  height: 35px;
}

#chat-send-btn {
  font-family: "Roboto", sans-serif;
  background-color: rgb(235, 235, 235);
  border: none;
}

#message-feed {
  display:flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  margin:2px;
  width: 500px;
  height:400px;
  overflow: scroll;
}