#login-card {
  margin-bottom: 200px;
}

.text-center.mb-4 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}
 
.email {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.password {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.password-confirm {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}

#signup-btn {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
  border: none;
}

#signup-btn:hover {
  background-color: lightgray;
}

a {
  font-family: "Roboto", sans-serif;
  color: #ff7aa2;
}

a:hover {
  color: rgb(106, 237, 95);
}

a.selected {
  color: rgb(106, 237, 95);
}
